/* start gloabl */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gerald{
    background-color: #1b1a1a;
    height: 320px;
}
@media (min-width:768px){
.logo{
  margin-left: 150px;
}
}
.family .box{
    margin-bottom: 20px;
}
.logo{
  margin-top: 85px;
  margin-bottom: 40px;
}
.navbar-nav>li>a{
    font-weight: 600;
    color:rgb(212, 210, 210);
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 50px;
}

.dropdown-menu ,
.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a:hover,
.nav .open>a {
    background-color: #a92c11;
    border: 1px solid rgb(247, 173, 173);
    box-shadow:0px 0px 12px 0px #d4d2d2 ;
}
.dropdown-menu li a{
    color:rgb(212, 210, 210);
    
} 
.dropdown-menu li a:hover{
    color:whitesmoke;
    background-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #a92c11;

}
.dropdown-menu{
    margin: 2px 40px 0 50px;
    min-width: 120px;
    text-align: center;
}
.dropdown-menu>li>a{
    padding: 3px 2px;
}
/* end container gerald */
.we{
    background-color: #5b6269;
    padding-bottom: 30px;
}
.we .item{
   padding: 50px 25px;
}
.carousel-inner .box {
    border: 1px solid #d4d2d2;
   /* height: 80px; */
   width: 200px;
   background-color: #1b1a1a;
   color: rgb(248, 248, 248);
   font-size: 20px;
   margin-left: 500px;
   margin-top: -400px;
} 
.carousel-indicators .active {
    background-color: #4d5359;
}
.carousel-indicators li{
    border:1px solid #9b9fa2;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    color: transparent;
    background-color: transparent;
}
.staf{
    margin-top: 60px;
    margin-bottom: 40px;
}
.staf h5{
    color: beige;
    margin-left: 15px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.staf .one .box .two{
    background-color: #a92c11;
    border: 1px solid #a92c11;
    width: 218px;
    transition-timing-function: ease;
    transition: 0.8s;
}

.staf .one .box .two:hover ,
.staf .one .box .two:focus{
    background-color:aliceblue;
        color:#a92c11;
  }
  .staf .one .box .two h5{
      display: inline-block;
      margin-right: 30px;
  }
  .staf h5:hover{
    color:#a92c11;   
  }
  
.staf .one .box img{
    border: 1px solid #a92c11;
}
 @media (min-width:320px) and (max-width:991px)  {
    .staf  .container .box .two{
        margin-bottom: 20px;
        }  
      }
 @media (min-width:320px) and (max-width:767px){
    .staf  .container .box,.family .container .box{
        margin-left: 20%;
    }
    
 }
 .staf {
     margin-bottom: 20px;
 }
 /* end section staf */
 /* start section family */
 .family{
     padding-top: 80px;
    background-color: #f2f2f2;
    padding-bottom: 60px;
 }
 .family h5{
     text-transform: uppercase;
     color: black;
     font-size: 16px;
     font-weight: bold;

 }
 .family .col-sm-6{
margin-bottom: 30px;}
 .family .text{
    margin-top: 30px;
margin-bottom: 5px;
    /* margin-bottom :25px; */
 }
 .navbar-toggle{
     background-color: #d4d2d2;
 }
 .icon-bar {
     width: 28px;
     background-color: #a92c11;
 }
 .family span p{
     display: inline;
 }
 .family span a {
     display:inline;
     color: #a92c11;
 }
 .family span p{
     margin-bottom: 50px;
     padding-bottom: 20px;
 }
.btn{
     display: block;
     background-color: #a92c11;
     color: #f2f2f2;
     transition: 0.5s;
     transition-timing-function: ease;
     border-radius: 0px;
     margin-top: 20px;
     font-size: 18px;
     padding: 10px 20px;
 }
 .btn:hover{
background-color: #f2f2f2;
color: #a92c11;
border: 2px solid #a92c11;
 }
     .family .textt{
    margin-bottom: 30px;
 }

 .family p{
     opacity: 0.9;
     margin-bottom: 20px;
 }
.family .col1{
    opacity: 0.9;
}
/* end section family */
.CONTACT {
    background-color: #4d5359;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #f2f2f2;
}
.CONTACT a{
    display: block;color: #f2f2f2;
    line-height: 33px;
    
}
.CONTACT p{
    width: 400px;
}
.CONTACT a,.CONTACT p,.CONTACT h3{
    opacity: 0.8;
} 
.CONTACT h1{
margin-bottom: 14px;
}
.container {
    padding-right: 60px;
    padding-left: 60px;}
/* end section contact */
/* start section Gerald */
footer{
background-color: #1b1a1a;
padding-top: 30px;
padding-bottom: 25px;
color: #c7c8cb;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 14px;
}

/* start page practice */
.area .box {
 
    text-align: center;
    background-color: #4d5359;
    color: aliceblue;
    margin-bottom: 30px;
    padding: 40px 10px 18px ;
    height: 380px;
}
.area .box p{
    line-height: 25px;
}
.area .box h3{
    margin-bottom: 16px;
}
.area button{
    margin: auto;
    
}
.area .bb p:last-of-type{
    margin-bottom: 32px;
}
.area h1{
    margin-bottom: 25px;
    margin-top: 25px;
}
.area .box{
    transition-timing-function: ease;
    transition: 0.8s;
}
.area .box:hover{
    background-color:   aliceblue;
    color: #a92c11;
    font-weight: bold;
    transform: translateY(-10px);
    border: 4px solid #a92c11;
}
/* end page practice */

/* start page client  */
.working{
    background: #f2f2f2;
}
.working .box1 a{

    text-decoration: underline;
}
.working a{
    margin-bottom: 12px;
    display: block;
    color:#5b6269;
}
.working .box2 a,.working .box3 a{
    color: #a92c11;
}
.working h2{
    margin-top: 35px;
    margin-bottom: 45px;
}
/* .working .box{
    margin-bottom: 30px;
} */
.working img{
    margin-bottom: 30px;
}
.working p{
    margin-bottom: 20px;
}
.working p:last-of-type{
    margin-bottom: 60px;
}
.working .box3{
    margin-top: 98px;
}
.working .col-lg-3:last-of-type{
    margin-left: 30px;
}
/* start page contact */
.mapouter{
    margin-bottom:40px;

}
.info .form-group input{
    width: 300px;
/* margin-bottom: 20px; */
}
.info .form-group input:first-of-type{
    margin-top: 25px;
    border-radius: 0px;
}
.info .form-group  input,.form-group textarea{
    background-color: white;
}
.info .form-group textarea {
    height: 250px !important;
    width: 400px !important;
    border-radius: 0px;
}
.info{
    background-color: #f2f2f2;
}
.info h2{
    margin-top: 30px;
}
.info .box{
    margin-bottom: 35px;
}
.info .form-group {
    border: 1px solid transparent;
}

